<h3>WirelessDx Call Logging</h3>

<p>
  Welcome to the WirelessDx Call Logger.  Please <%= link_to 'Login', new_user_session_path, :method => :get %> if you haven't done so.  Otherwise make a selection from the navigation menu to the left.
</p>
