<p id="notice"><%= notice %></p>

<p>
  <b>Call location:</b>
  <%= @call_location.call_location %>
</p>


<%= link_to 'Edit', edit_call_location_path(@call_location) %> |
<%= link_to 'Back', call_locations_path %>
